<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--xml 파일 작성법-->

<!--namespace: 이 구문을 사용할 interface-->
<mapper namespace="sesac.sesacspringboot.api2.mapper.UserMapper">
    <!--id: 해당 구문을 실행할 메소드-->
    <!--resultType: 결과를 resultType에 매핑해서 주겠다.-->
    <select id="retreiveAll" resultType="sesac.sesacspringboot.api2.domain.User">
        SELECT user.* FROM user
    </select>

</mapper>